body._lock{
  overflow: hidden;
}

.page{
  padding: 70px 0 20px 0;
}

.page__section{
  padding: 15px;
  max-width: 1000px;
  margin: 0 auto;
}

.content-wrapper {
  max-width: 1000px;
  margin: 80px auto 20px auto;
  border: 2px solid dimgrey;
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    #7d75a0 0%,
    #f3f2f6 20%,
    #f3f2f6 85%,
    #7d75a0 100%
  );
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  background: linear-gradient(to bottom, #f3f2f6 0%, #7d75a0 100%);
  border-radius: 0 0 20px 20px;
}

.header__container{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
}

.header__logo{
  font-size: 24px;
  z-index: 5;
}

.menu__icon {
  display: none;
}

.menu__list {
  /* display: flex;*/
  align-items: center;
  list-style-type: none;
  text-transform: capitalize;
}

.menu__list > li {
  margin: 0 0 0 20px;
}

.menu__link {
  outline: none;
  text-decoration: none;
  color:#16367d;
}

.menu__link:hover{
  text-decoration: underline;
}

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  
  .menu__body {
    position: fixed;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 54, 125, 0.9);
    padding: 100px 30px 30px 40px;
    transition: left 0.3s ease 0s;
  }
  
  .menu__body._active {
    left: 0;
  }
  
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    padding-top: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    content: "";
    left: 0;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    /* border: 1px solid white; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .menu__icon::before {
    transform: translateY(-10px);
  }
  
  .menu__icon::after {
    transform: translateY(10px);
  }
  
  .menu__icon._active span{
    transform: scale(1) translateX(-60%);
    background: transparent;
    box-shadow: none;    
  }

  .menu__icon._active::before {
     transform: rotate(45deg); 
     box-shadow: none;
  }
  
  .menu__icon._active::after {
     transform: rotate(-45deg);
     box-shadow: none;     
  }

  .menu__list > li{
    margin: 0 0 30px 0;
  }
  .menu__list > li:last-child{
    margin-bottom: 0;
  }

  .menu__link{
    font-size: 24px;
    color: #cecbdb;
    text-shadow: ;
  }
}

.caption {
  width: 500px;
  margin: 30px auto;
  text-align: center;
  font-size: 3em;
  color: #16367d;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

main {
  margin-left: 100px;
  font-size: larger;
}

main h2 {
  color: #16367d;
  margin-top: 10px;
  margin-bottom: 10px;
}

.photo {
  display: block;
  width: 250px;
  border-radius: 50%;
  margin: 0 auto;
  border: 3px solid dimgrey;
}

footer h3 {
  color: #16367d;
  margin-bottom: 0px;
  margin-left: 20px;
}

footer ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer-content{
    display: flex;
    align-items: center;
}

.contacts {
    flex-grow: 1;
}

.rss-link{
    display: block;
    width: 150px;
}

.rss {
    display: block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    width: 86px;
    height: 32px;
    background-image: url('../img/rs_school_js.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 22px;
}

.rss-year {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 20px;
    letter-spacing: -2px;
    color: #2a2930;
    line-height: 0.7;
    font-weight: bold;
    transition: 0.3s;
  }
  .rss:hover .rss-year {
    right: -5px;
    letter-spacing: 0;
  }